C:/Users/wgma/Documents/00_PhD_lokal/PSY9550_statistical_rethinking/PSY9550_wgma/.Rproj.user/shared/notebooks/4B58BF57-PSY9550_chp9_alex_winnie/1/s/ct9rjyfptlsq3